.DS_Store
.idea/
**/__pycache__/
__pycache__/
**/logs/
**/runs/
slurm*
**/texts/
**/**.db
**/wandb
clean_data/
data/
source_data/
val/
.vscode/
**/Rag.py
test.py
books/
**/**.jsonl 
hf_dataset_**.py

